/*  Header SIDE-MENU*/
.side-menu {
  background-color: var(--bgcolor);
  color: #ffffff;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: min-content;
}
.side-menu a {
  color: #ffffff;
}
.side-menu .head {
  border-bottom: solid 1px var(--hovercolor);
}
.side-menu .head .title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-menu .head .menu-btn {
  display: grid;
  cursor: pointer;
  padding: 10px;
  width: var(--width-collapsed);
}
.side-menu .head .menu-btn:hover {
  background-color: #000000;
}
.side-menu .head .menu-btn .btn-hamburger {
  background-color: #ffffff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}
.side-menu .profile {
  border-bottom: solid 1px var(--hovercolor);
  padding: var(--padding) 0;
  text-align: center;
}
.side-menu .profile .foto {
  padding: var(--padding) 0;
  margin: 0 auto;
}
.side-menu .profile .foto img {
  border-radius: 50%;
  width: 60%;
}
.side-menu .profile .foto,
.side-menu .profile .name {
  font-size: 24px;
  padding: var(--padding) 0;
  overflow: hidden;
}
.side-menu .menu-items {
  display: flex;
  width: 100%;
  align-items: center;
  padding: var(--padding) 0;
}
.side-menu .menu-items .item {
  width: var(--width);
}
.side-menu .menu-items .item .icon,
.side-menu .menu-items .item .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  overflow: hidden;
}
.side-menu .menu-items .item a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 2rem;
}
.side-menu .menu-items .item a:hover {
  background-color: var(--hovercolor);
}

.menu-expanded {
  width: var(--width);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.menu-expanded .head {
  display: flex;
}
.menu-expanded .head .title {
  width: calc(100% - 50px);
  margin-right: -5px;
  padding: var(--padding);
}
.menu-expanded .head .title span {
  width: calc(var(--width) - var(--width-collapsed) - 5px);
  overflow: hidden;
}
.menu-expanded .profile .name {
  width: 100%;
}
.menu-expanded .profile .foto {
  width: 200px;
}
.menu-collapsed {
  width: var(--width-collapsed);
}
.menu-collapsed .head .title {
  display: none;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
.menu-collapsed .profile .name {
  display: none;
}
.menu-collapsed .item {
  height: 50px;
}
.menu-collapsed .item .title {
  display: none;
}
.menu-collapsed .item .icon {
  display: block;
}
